JUPYTER MISSION TO MARS

In [1]:
#importing dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
#set up splinter
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
#visit 
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(1)

In [4]:
#scrape page into soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

NASA Mars News

In [5]:
# Retrieve all elements that contain news title
latest_news = soup.find("div", class_="list_text")

#get the latest news title from the page
latest_news_title = latest_news.find_all("div", class_="content_title")[0].text

#get the paragraph text of latest news 
news_para = latest_news.find_all("div", class_="article_teaser_body")[0].text

#display news
print(latest_news_title)
print(news_para)

NASA's Curiosity Mars Rover Takes Selfie With 'Mont Mercou'
The rover also snapped a pair of panoramas to create a 3D view of the stark cliff face featured in the selfie.

JPL Mars Space Images - Featured Image

In [6]:
#visit
url = "https://spaceimages-mars.com/"
browser.visit(url)
time.sleep(1)

In [7]:
#scrape page into soup
img_html = browser.html
soup = BeautifulSoup(img_html, 'html.parser')

#get the image url for the current Featured Mars Image 
image = soup.find("div", class_="floating_text_area").a["href"]
#print(image)

featured_image_url = "https://spaceimages-mars.com" + image
print(featured_image_url)

https://spaceimages-mars.comimage/featured/mars2.jpg

Mars Facts

In [8]:
#visit
url = 'https://galaxyfacts-mars.com/'

In [9]:
#get data from webpage
mars_fact = pd.read_html(url)
mars_fact

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [10]:
#slice off the dataframe that we want usin normal indexing
mars_facts_df = mars_fact[0]
mars_facts_df.columns = ["Description", "Mars", "Earth"]

mars_facts_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [11]:
#set index to description column
mars_facts_df.set_index("Description", inplace=True)
mars_facts_df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [12]:
#convert to HTML
mars_facts_html = mars_facts_df.to_html()

mars_facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
#eliminate unwanted newlines to clean up the table
html_table = mars_facts_html.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Description</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Mars - Earth Comparison</th>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

Mars Hemispheres

Mars Hemispheres - Cerberus Hemisphere

In [21]:
#visit
url = "https://marshemispheres.com/cerberus.html"
browser.visit(url)
time.sleep(1)

#scrape page into soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

#get the image url of cerberus 
image_url = soup.find("img", class_="wide-image")["src"]
cerberus_url = "https://marshemispheres.com/" + image_url

#get the Hemisphere title
cerberus_img_title = soup.find("h2", class_="title").text

print(cerberus_img_title)
print(cerberus_url)

Cerberus Hemisphere Enhanced
https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

Mars Hemispheres - Schiaparelli Hemisphere

In [22]:
#visit
url = "https://marshemispheres.com/schiaparelli.html"
browser.visit(url)
time.sleep(1)

#scrape page into soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

#get the image url of cerberus 
image_url = soup.find("img", class_="wide-image")["src"]
schiaparelli_url = "https://marshemispheres.com/" + image_url

#get the Hemisphere title
schiaparelli_img_title = soup.find("h2", class_="title").text

print(schiaparelli_img_title)
print(schiaparelli_url)

Schiaparelli Hemisphere Enhanced
https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg

Mars Hemispheres - Syrtis Major Hemisphere

In [23]:
#visit
url = "https://marshemispheres.com/syrtis.html"
browser.visit(url)
time.sleep(1)

#scrape page into soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

#get the image url of cerberus 
image_url = soup.find("img", class_="wide-image")["src"]
syrtis_url = "https://marshemispheres.com/" + image_url

#get the Hemisphere title
syrtis_img_title = soup.find("h2", class_="title").text

print(syrtis_img_title)
print(syrtis_url)

Syrtis Major Hemisphere Enhanced
https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg

Mars Hemispheres - Valles Marineris Hemisphere

In [24]:
#visit
url = "https://marshemispheres.com/valles.html"
browser.visit(url)
time.sleep(1)

#scrape page into soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

#get the image url of cerberus 
image_url = soup.find("img", class_="wide-image")["src"]
valles_url = "https://marshemispheres.com/" + image_url

#get the Hemisphere title
valles_img_title = soup.find("h2", class_="title").text

print(valles_img_title)
print(valles_url)

Valles Marineris Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg

In [25]:
#creating the dictionary with title and image urls
hemisphere_image_urls = [
    {"title": cerberus_img_title, "img_url": cerberus_url},
    {"title": schiaparelli_img_title, "img_url": schiaparelli_url},
    {"title": syrtis_img_title, "img_url": syrtis_url},
    {"title": valles_img_title, "img_url": valles_url},
]

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [26]:
#browser.quit()